<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <style>
        #leftMenu {
            width: 20%;
            float: left;
        }
        #content{
            width: 80%;
            float: right;
        }
    </style>
    <script src="/Scripts/jquery-1.8.2.js"></script>

</head>
<body>
    <div id="leftMenu">
        @Html.ActionLink("Все Книги", "Index", "Home")
        <br />
        @Html.ActionLink("Добавить/Удалить Книги", "AddRemoveBooks", "Home")  
        <br />
        @Html.ActionLink("Все Читатели", "Readers", "Home")
        <br />
        @Html.ActionLink("Добавить/Удалить Читателей", "AddRemoveReaders", "Home")
        
    </div>
    <div id="content">
        @RenderBody()
        @RenderSection("Scripts", false)
    </div>
</body>
</html>
