@model LibraryBL.BLBooksFromInfoAll
@using LibraryBL;

@{
    ViewBag.Title = "AddAuthorForBook";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}


    <table>
    <tr>
        <td>
            For this book @Model.Name , @Model.Year , add authors or submit the book:
        </td>
    </tr>
        <tr>
            <td>
                <h3>Authors</h3>
            </td>
        </tr>
        <tr>
            <td>
                FullName
            </td>
            <td>
                Year
            </td>
        </tr>

    @*@foreach (BLAuthor author in Model.Authors)
    {
        <tr>
            <td>
                @author.Fullname
            </td>
            <td>
                @author.Year
            </td>
        </tr>
    }*@
        
       
            @using (Html.BeginForm("SubmitBook", "Home", FormMethod.Post))
            {
                @Html.EditorFor(m => m)
                <tr>
                    <td colspan="2"><input id="SubmitBook" type="submit" value="Submit Book" /></td>
                </tr>
            }
            @*@using (Html.BeginForm("AddBook", "Home", FormMethod.Post))
            {
                <tr>
                    <td colspan="2"><input id="SubmitForm" type="submit" value="submit" /></td>
                </tr>

            }*@
</table>
@*<form>
    @Html.ActionLink("Add Author", "AddSingleAuthorForBook", Model)
</form>*@



