@model LibraryBL.BLBooksFromInfoAll

@{
    ViewBag.Title = "AddBook3";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}

<h2>AddBook3</h2>

@using (Html.BeginForm("AddAuthorForBook", "Home", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <table>
        <tr>
            <td>
                book name
            </td>
            <td>
                @Html.EditorFor(m => m.Name)
                @Html.ValidationMessageFor(model => model.Name)
            </td>
        </tr>
        <tr>
            <td>
                book year
            </td>
            <td>
                @Html.TextBoxFor(m => m.Year)
            </td>
        </tr>
        <tr>
            <td>
                book janre
            </td>
            <td>
                @Html.TextBoxFor(m => m.Janre)
            </td>
        </tr>
        <tr>
            <td>
                book izdanie
            </td>
            <td>
                @Html.TextBoxFor(m => m.Izd)
            </td>
        </tr>
        <tr>
            <td>
                book number of pages
            </td>
            <td>
                @Html.TextBoxFor(m => m.Numofpages)
            </td>
        </tr>
        <tr>
            <td>
                book how many times was given
            </td>
            <td>
                @Html.TextBoxFor(m => m.Howmanytimes)
            </td>
        </tr>
        <tr>
            <td>
                book number of shelf
            </td>
            <td>
                @Html.TextBoxFor(m => m.Number_s1)
            </td>
        </tr>
        @*<tr>
                <td>
                    author fullname (FIO)
                </td>
                <td>
                    @Html.TextBoxFor(m => m.A_fullname)
                </td>
            </tr>
            <tr>
                <td>
                    author year
                </td>
                <td>
                    @Html.TextBoxFor(m => m.A_year)
                </td>
            </tr>*@
        <tr>
            <td>
                Enter number of authors
            </td>
            <td>
                @Html.EditorFor(m => m.NumberOfAuthors)
                @Html.ValidationMessageFor(model => model.NumberOfAuthors)
            </td>
        </tr>
        <tr>
            <td colspan="2"><input id="Submit1" type="submit" value="Add Authors for this book" /></td>
        </tr>
    </table>
}

@*@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>BLBooksFromInfoAll</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.Name)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Name)
            @Html.ValidationMessageFor(model => model.Name)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Year)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Year)
            @Html.ValidationMessageFor(model => model.Year)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Janre)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Janre)
            @Html.ValidationMessageFor(model => model.Janre)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Izd)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Izd)
            @Html.ValidationMessageFor(model => model.Izd)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Numofpages)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Numofpages)
            @Html.ValidationMessageFor(model => model.Numofpages)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Howmanytimes)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Howmanytimes)
            @Html.ValidationMessageFor(model => model.Howmanytimes)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Number_s1)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Number_s1)
            @Html.ValidationMessageFor(model => model.Number_s1)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.NumberOfAuthors)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.NumberOfAuthors)
            @Html.ValidationMessageFor(model => model.NumberOfAuthors)
        </div>

        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>*@

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
