@model DataSet 
@using System.Data;
@{
    ViewBag.Title = "EditSingleBook";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}

<div>
    <h2>EditSingleBook</h2>
    <table>
        <thead>
            <tr>

                @foreach (DataColumn col in Model.Tables["Book"].Columns)
                {
                    <th>@col.ColumnName</th>
                }
                <th> DELETE </th>
            </tr>
        </thead>
        <tbody>
            @{string bid = "";}
            @foreach (DataRow row in Model.Tables["Book"].Rows)
            {
                bid = @row[0].ToString();
                
                <tr>
                    @foreach (DataColumn col in Model.Tables["Book"].Columns)
                    {
                        <td><textarea id="TB_@col.ColumnName" rows="1" cols="5">@row[col.ColumnName]</textarea></td>
                    }
                    <td>
                        DELETEBUTTON
                        @*@Html.ActionLink("Delete", "EditSingleBook", "Home", new { bid = @row[0] }, null)*@
                        SAVEBUTTON
                    </td>
                </tr>
            }
        </tbody>
    </table>
    @*@foreach (WebApplication3MVCtryhard.Models.Book b in model)
        {
            <tr>
                <td><p>@b.Id</p></td>
                <td><p>@b.Name</p></td>
            </tr>
        }*@
    @using (Html.BeginForm("SaveChanges", "Home"))
    {
        <input type="text" name="bid" value="@bid" />
        <input id="Submit1" type="submit" value="submit" />
    }
</div>